{% extends 'sample.html' %}

{% block main %}
<div id="article-header" class="splash test-splash question-splash">
  <form class="splash-content test-card" method="POST">
    <a> Вопрос {{ id + 1 }} / 10 </a>
    <legend>{{ question_text }}</legend>
    <img class="secret" src=" {{ src }}">
    {% for option in options %}
    <button type="submit" name="{{ id }}" value="{{option}}">{{option}}</button>
    {% endfor %}
  </form>
  <img id="article-header-bg" class="bg" src="/static/image-110.png" />
</div>
{% endblock %}
