<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <header>
      <div class="header-top">
	<img src="/static/spbetu-logo-ru-svg1.svg" onclick="openPage('/home')"/>
	<div class="title">139 Лет первого электротехнического на одной платформе</div>
      </div>
      <div class="header-bottom">
	<div onclick="openPage('/articles')">Статьи</div>
	<div>Таймлайн</div>
	<div onclick="openPage('/authors')">Авторам</div>
	<div>Жизнь музея</div>
	<div onclick="openPage('/quiz')">Тесты и викторины</div>
	<script>
		function openPage(page) {
  			window.location.href=page
		}
	</script>
      </div>
    </header>
    <main>
      <div id="article-header" class="splash article-splash">
	<style>
	  #article-header-text {
	      font-weight: 400;
	      text-transform: uppercase;
	  }
	</style>
	<span id="article-header-text" class="splash-content">Электротехнический<br>в период с 1917 по 1930</span>
	<img id="article-header-bg" class="bg" src="/static/image-230.png" />
      </div>
      <div id="article-content">
	<span>
	  Давайте углубимся в каждый из основных моментов, чтобы получить более
	  детальное представление о развитии &quot;ЛЭТИ&quot; в период 1917-1930
	  годов:
	</span>
	<span>
	  <ol>
	    <li>
	      <h3>Переименование и адаптация к новым реалиям:</h3>
	      <ul>
		<li>Смена имени с &quot;Электротехнический институт императора
		Александра III&quot; на &quot;Электротехнический институт им. В.И.
		Ульянова (Ленина)&quot; символизировала коренную трансформацию. Это
		отражало отказ от имперского прошлого и адаптацию к идеологии нового
		государства.</li>
		<li>В условиях &quot;военного коммунизма&quot; (1918-1921) институт
		столкнулся с серьезными трудностями, включая нехватку ресурсов и
		топлива. Однако преподаватели и студенты, несмотря на все трудности,
		продолжали научную и учебную деятельность.</li>
		<li>Введение выборности руководства с участием студентов стало важным
		шагом к демократизации управления институтом и привлечению рабочей
		молодежи.</li>
	      </ul>
	    </li>
	    <li>
	      <h3>План ГОЭЛРО и вклад &quot;ЛЭТИ&quot;:</h3>
	      <ul>
		<li>
		  Участие в разработке плана ГОЭЛРО (Государственного плана
		  электрификации России) стало ключевым событием для &quot;ЛЭТИ&quot;.
		  Этот план был жизненно важен для восстановления и развития экономики
		  страны.
		</li>
		<li>
		  Г.О. Графтио, профессор &quot;ЛЭТИ&quot;, сыграл ведущую роль в
		  планировании и строительстве Волховской ГЭС, одного из первых крупных
		  проектов ГОЭЛРО.
		</li>
		<li>
		  П.С. Осадчий, директор &quot;ЛЭТИ&quot;, возглавлял Центральный
		  электротехнический совет (ЦЭС) при ВСНХ, что давало институту
		  возможность активно участвовать в реализации плана электрификации.
		</li>
		<li>
		  Выступление профессора И.Г. Фреймана на VIII Электротехническом
		  съезде с инициативой государственной поддержки радиолюбительства имело
		  огромное значение для развития этого направления в стране.
		</li>
		<li>
		  Профессор В.В. Дмитриев подготовил энергоэкономическую основу для
		  электро- и энергоснабжения крупных промышленных центров, а профессор
		  М.С. Максименко возглавил рабочую группу по ускорению проектирования
		  предприятий химической промышленности. Уже в марте 1918 года
		  перед Г.О. Графтио председателем Всероссийского совета народного
		  хозяйства (ВСНХ) В.И. Лениным была поставлена задача составления сметы
		  на строительство Волховской ГЭС. В апреле 1918 года при ВСНХ
		  учреждается Центральный совет экспертов, а затем - Центральный
		  электротехнический совет (ЦЭС), который возглавлял сначала профессор
		  Политехнического института М.А. Шателен, а затем, с 1919 года, –
		  директор ЭТИ профессор П.С. Осадчий.
		</li>
	      </ul>
	      <div class="row">
		<p>
		  <img src="/static/image-240.png" />
		  П.С. Осадчий
		  <span class="years">(1866-1943)</span>
		</p>
		<p>
		  <img src="/static/image-250.png" />
		  Г.О. Графтио
		  <span class="years">(1869-1949)</span>
		</p>
	      </div>
	    </li>
	    <li>
	      <h3>Факультетская структура и специализации:</h3>
	      <ul>
		<li>
		  Введение факультетской структуры в 1920 году позволило более
		  эффективно организовать учебный процесс и сосредоточиться на
		  конкретных направлениях подготовки инженеров.
		</li>
		<li>
		  Электротехнический факультет (ЭТФ) сосредоточился на электрификации
		  железных дорог, заводов, электростанций, машиностроении.
		</li>
		<li>
		  Электрофизический факультет (ЭФФ) занимался телеграфией, телефонией,
		  радиотехникой и сигнализацией.
		</li>
		<li>
		  Электрохимический факультет (ЭХФ) специализировался на электролизе,
		  извлечении и рафинировании металлов, а также на производстве карбидов
		  и сплавов.
		</li>
	      </ul>
	    </li>
	    <li>
	      <h3>Кадровый состав и известные учёные:</h3>
	      <ul>
		<li>
		  Несмотря на сложные условия, в &quot;ЛЭТИ&quot; продолжали работать
		  выдающиеся ученые, которые внесли огромный вклад в развитие
		  электротехники.
		</li>
		<li>
		  П.С. Осадчий, будучи директором института и крупным организатором,
		  обеспечивал устойчивое развитие института.
		</li>
		<li>
		  А.А. Смуров создал научную школу техники высоких напряжений и
		  передачи электрической энергии на дальние расстояния.
		</li>
		<li>
		  И.Г. Фрейман стал основателем отечественной научно-инженерной школы
		  радиотехники.
		</li>
		<li>
		  П.А. Щуркевич и С.И. Покровский читали важнейшие курсы теоретических
		  основ электротехники.
		</li>
	      </ul>
	      <div class="row">
		<p>
		  <img src="/static/image-260.png" />
		  П.A. Щуркевич
		  <span class="years">(1873-1942)</span>
		</p>
		<p>
		  <img src="/static/image-270.png" />
		  С.И. Покровский
		  <span class="years">(1872-1939)</span>
		</p>
	      </div>
	    </li>
	    <li>
	      <h3>Развитие радиотехники и роль И.Г. Фреймана:</h3>
	      <ul>
		<li>
		  И.Г. Фрейман сыграл ключевую роль в развитии радиотехники в
		  &quot;ЛЭТИ&quot;. Его подход к радиотехнике был широким и охватывал
		  все аспекты беспроводной передачи энергии.
		</li>
		<li>
		  Он считал электронные
		  лампы решающим фактором развития радиотехники и уделял большое
		  внимание их применению.
		</li>
		<li>
		  Благодаря усилиям Фреймана в 1925 году были организованы две кафедры
		  радиотехники: общего курса (Н.А. Скрицкий) и специального курса (И.Г.
		  Фрейман).
		</li>
		<li>
		  Фундаментальный труд Фреймана &quot;Курс радиотехники&quot; (1924,
		  1928) оказал огромное влияние на развитие этой области.
		</li>
		<li>
		  Фрейман также привлек талантливых ученых, таких как В.П. Вологдин,
		  А.А. Шапошников, Б.П. Козырев и С.Я. Соколов, к исследованиям в
		  области радиотехники.
		</li>
	      </ul>
	    </li>
	    <li>
	      <h3>Создание новых лабораторий:</h3>
	      <ul>
		<li>
		  Организация новых лабораторий, таких как лаборатория электропривода
		  (С.А. Ринкевич), гидродинамическая лаборатория (И.В. Егиазаров) и
		  высоковольтная лаборатория (А.А. Смуров), способствовала развитию
		  научных исследований и подготовке специалистов высокого уровня.
		</li>
		<li>
		  Лаборатория электропривода стала первой в мире кафедрой
		  электропривода.
		</li>
		<li>
		  В гидродинамической лаборатории проводились исследования для
		  обеспечения строительства первых гидроэлектростанций.
		</li>
		<li>
		  В высоковольтной лаборатории решались вопросы, связанные с передачей
		  электроэнергии на большие расстояния.
		</li>
	      </ul>
	    </li>
	    <li>
	      <h3>Проблемы и успехи восстановления:</h3>
	      <ul>
		<li>
		  В первые годы после революции &quot;ЛЭТИ&quot; столкнулся с
		  серьезными проблемами, включая топливный кризис, отток преподавателей
		  и пересмотр учебных программ.
		</li>
		<li>
		  Однако благодаря усилиям преподавателей и студентов, а также
		  государственной поддержке, институт смог восстановиться и продолжить
		  свое развитие.
		</li>
		<li>
		  К концу 1920-х годов выпуск инженеров значительно увеличился, что
		  свидетельствовало об успешном восстановлении института.
		</li>
	      </ul>
	    </li>
	    <li>
	      <h3>Электрохимическое направление и электросварка:</h3>
	      <ul>
		<li>
		  Электрохимический факультет активно участвовал в восстановлении
		  народного хозяйства, проводя исследования и разрабатывая технологии
		  для химической промышленности.
		</li>
		<li>
		  Благодаря профессорам М.С. Максименко и А.А. Алексееву формируется
		  новая отрасль науки – электротермия. В 1927 году профессором А.А.
		  Алексеевым организуется новая специальность – электросварка. Одним из
		  выдающихся выпускников ЭТИ, развивавших это направление, стал К.К.
		  Хренов.
		</li>
	      </ul>
	    </li>
	  </ol>
	  <h2>В заключение:</h2>
	  <span>
            период с 1918 по 1929 год был временем огромных перемен и серьезных
            испытаний для &quot;ЛЭТИ&quot;. Несмотря на все трудности, институт
            смог не только выжить, но и заложить основу для своего дальнейшего
            развития, став одним из ведущих центров электротехнического
            образования и научных исследований в стране. Этот период отмечен
            огромным вкладом ученых &quot;ЛЭТИ&quot; в реализацию плана ГОЭЛРО,
            создание новых научных школ и развитие новых направлений в
	    электротехнике, особенно в радиотехнике и электрохимии.
	  </span>
	</span>
      </div>
    </main>
    <footer>
      <div class="col1">
	<img src="/static/spbetu-logo-ru-svg2.svg" />
	<div class="underlogo">
	  <h3>Проект команды</h3>
	  <div>“Катюха” FanClub</div>
	  <br>
	  <h3>В составе:</h3>
	  <div>
	    Сомов Андрей, 4395 <br>
	    Власов Иван, 4372 <br>
	    Алтухов Дмитрий, 4395 <br>
	    Харчинский Савелий, 4734
	  </div>
	</div>
      </div>
      <div class="col2">
	<h3>Пользователям</h3>
	<div>
	  <div>Статьи</div>
	  <div>Таймлайн</div>
	  <div>Викторины и тесты</div>
	  <div>Авторам</div>
	</div>
      </div>
      <div class="col3">
	<a href="https://t.me/etustory"><img src="/static/frame-40.svg" /></a>
	<div class="underlogo">
	  <div>Поддержать проект</div>
	  <div>Обратная связь</div>
	</div>
      </div>
    </footer>
  </body>
</html>
