<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <header>
      <div class="header-top">
	<img src="/static/spbetu-logo-ru-svg1.svg" onclick="openPage('/home')"/>
	<div class="title">139 Лет первого электротехнического на одной платформе</div>
      </div>
      <div class="header-bottom">
        
	<div onclick="openPage('/home')">Статьи</div>
	<div onclick="openPage('/home')">Таймлайн</div>
	<div onclick="openPage('/authors')">Авторам</div>

	<div onclick="openPage('/quiz')">Тесты и викторины</div>
	<script>
		function openPage(page) {
  			window.location.href=page
		}
	</script>
      </div>
    </header>
    <main>
      <div id="article-header" class="splash article-splash">
	<style>
	  #article-header-text {
	      font-size: 96px;
	      font-weight: 400;
	      text-transform: uppercase;
	      @media (max-width: 850px) {
		  font-size: 48px;
	      }
	      .sub {
		  font-size: 64px;
		  text-decoration: underline;
		  @media (max-width: 850px) {
		    font-size: 32px;
		  }
	      }
	  }
	</style>
	<span id="article-header-text" class="splash-content">ФКТИ<br><span class="sub">от электрификации судов до информационной безопасности</span></span>
	<img id="article-header-bg" class="bg" src="/static/image-140.png" />
      </div>
      <div id="article-content">
	<h2>Вехи истории факультета компьютерных технологий и информатики</h2>
	<span>
	  Развитие факультета компьютерных технологий и информатики (ФКТИ) тесно
	  переплетено с историей страны. Его истоки можно найти еще в 1922 году,
	  когда на Электротехническом факультете появился профиль
	  &quot;Электрификация судов&quot; в рамках специальности
	  &quot;Электрическое распределение механической энергии&quot;. Этот
	  профиль стал отправной точкой для будущего факультета приборостроения
	  и электрификации, основанного в 1932 году.
	  В 1939 году факультет разделился на два: факультет электрификации и
	  факультет приборостроения и спецтелемеханики, причем большинство
	  специальностей последнего создавались впервые.
	</span>
	<img src="/static/image-150.png" />
	<h2>На момент основания в состав факультета приборостроения и спецтелемеханики входили следующие кафедры:</h2>
	<span>
	  <ul>
	    <li>
	      <h3>Кафедра счётно-решающей техники (ныне вычислительной техники):</h3>
	      Подготовка специалистов началась в 1931 году со специальности
	      &quot;Приборы точной механики&quot;. Кафедрой в разное время
	      руководили профессора В.Б. Смолов, Д.В. Пузанков, а в настоящее время
	      её возглавляет М.С. Куприянов.
	    </li>
	    <li>
	      <h3>Кафедра гироскопических приборов:</h3>
	      Основателями отечественной школы гироскопии стали академик А.Н.
	      Крылов и другие видные ученые, такие как Б.В. Булгаков, Б.И. Кудревич
	      и Е.Л. Николан.
	    </li>
	    <li>
	      <h3>Кафедра автоматики и телемеханики (ныне автоматики и процессов управления):</h3>
	      Ее предшественницей была лаборатория электрической сигнализации,
	      созданная в 1908 году при кафедре &quot;Электрические телеграфы&quot;
	      в Электротехническом институте. Кафедру возглавляли профессора В.А.
	      Тимофеев, А.А. Вавилов и В.Б. Яковлев. В настоящее время руководителем
	      является профессор М.Ю. Шестопалов.
	    </li>
	    <li>
	      <h3>Кафедра электроизмерительной техники (ныне информационно-измерительных систем и технологий):</h3>
	      Она была создана в 1929 году профессором Е.А. Свирским, а затем ею
	      руководили А.В. Фремке и Е.А. Чернявский. В настоящее время кафедру
	      возглавляет профессор В.В. Алексеев.
	    </li>
	  </ul>
	</span>
	<span>
	  В этот период исследования ФКТИ были сосредоточены на актуальных вопросах
	  теоретической и прикладной кибернетики, информатики и вычислительной
	  техники.
	  В дальнейшем факультет неоднократно претерпевал структурные изменения,
	  вызванные развитием компьютерных технологий, информатики и кибернетики.
	  В 1973 году была образована кафедра электронных и магнитных цепей, у
	  истоков которой стоял профессор В.И. Анисимов. В 1984 году, в связи с
	  началом подготовки специалистов по автоматизированному проектированию, она
	  была переименована в кафедру САПР, которую сейчас возглавляет доцент Н.Г.
	  Рыжов.
	  В 1978 году появилась кафедра математического обеспечения и применения
	  ЭВМ, в состав которой вошли преподаватели кафедры вычислительной техники и
	  сотрудники вычислительного центра ЛЭТИ. Первым заведующим был профессор
	  В.И. Тимохин, а затем много лет кафедрой руководил профессор А.Р. Лисс. В
	  настоящее время руководителем является К.В. Кринкин.
	  В 1982 году была создана кафедра автоматизированных систем обработки
	  информации и управления, которой с момента основания и до 2013 года
	  заведовал профессор Б.Я. Советов. У истоков кафедры стояли профессора Р.И.
	  Юргенсон и А.И. Губинский. В 2016 году она была переименована в кафедру
	  информационных систем, которую сейчас возглавляет профессор В.В.
	  Цехановский.
	  В 2014 году на ФКТИ была создана новая, седьмая кафедра – кафедра
	  информационной безопасности (ИБ), выделившаяся из кафедры АСОИУ для
	  подготовки специалистов по специальности &quot;Компьютерная
	  безопасность&quot;. Исполняющим обязанности заведующего кафедрой был
	  назначен доцент Е.Г. Воробьев.
	</span>
	<img src="/static/image-160.png" />
      </div>
    </main>
    <footer>
      <div class="col1">
	<img src="/static/spbetu-logo-ru-svg2.svg" />
	<div class="underlogo">
	  <h3>Проект команды</h3>
	  <div>“Катюха” FanClub</div>
	  <br>
	  <h3>В составе:</h3>
	  <div>
	    Сомов Андрей, 4395 <br>
	    Власов Иван, 4372 <br>
	    Алтухов Дмитрий, 4395 <br>
	    Харчинский Савелий, 4734
	  </div>
	</div>
      </div>
      <div class="col2">
	<h3>Пользователям</h3>
	<div>
	  <div>Статьи</div>
	  <div>Таймлайн</div>
	  <div>Викторины и тесты</div>
	  <div>Авторам</div>
	</div>
      </div>
      <div class="col3">
	<a href="https://t.me/etustory"><img src="/static/frame-40.svg" /></a>
	<div class="underlogo">
	  <div>Поддержать проект</div>
	  <div>Обратная связь</div>
	</div>
      </div>
    </footer>
  </body>
</html>
