<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <header>
      <div class="header-top">
	<img src="/static/spbetu-logo-ru-svg1.svg" onclick="openPage('/home')"/>
	<div class="title">139 Лет первого электротехнического на одной платформе</div>
      </div>
      <div class="header-bottom">
	<div onclick="openPage('/articles')">Статьи</div>
	<div>Таймлайн</div>
	<div onclick="openPage('/authors')">Авторам</div>
	<div>Жизнь музея</div>
	<div onclick="openPage('/quiz')">Тесты и викторины</div>
	<script>
		function openPage(page) {
  			window.location.href=page
		}
	</script>
      </div>
    </header>
    <main>
      <div id="article-header" class="splash article-splash">
	<style>
	  #article-header-text {
	      font-size: 96px;
	      text-transform: uppercase;
	      .emph {
		  font-weight: 400;
		  font-style: italic;
	      }
	      @media (max-width: 850px) {
		  font-size: 48px;
	      }
	  }
	</style>
	<span id="article-header-text" class="splash-content"><span class="emph">Отражение истории</span> в музее СПбГЭТУ &quot;ЛЭТИ&quot;</span>
	<img id="article-header-bg" class="bg" src="/static/image-70.png" />
      </div>
      <div id="article-content">
	<h2>Музей истории СПбГЭТУ &quot;ЛЭТИ&quot;,</h2>
	<span>
	  открытый в 1986 году к столетию университета, расположен в
	  административно-учебном корпусе, построенном в 1956 году. Его задача –
	  сохранять и изучать наследие первого в России электротехнического
	  вуза.
	  <br>
	  На площади 120 м² представлены экспонаты и документы, освещающие
	  ключевые этапы развития университета и важнейшие события в истории
	  электротехнической науки в России. Фонд музея насчитывает более 44 000
	  предметов, включая документы и фотографии.
	</span>
	<img src="/static/image-180.png" />
	<span>
	  Посетители могут увидеть альбом, посвященный профессору П.Д.
	  Войнаровскому, внесшему значительный вклад в становление
	  электротехнического образования в ЭТИ.
	  <br>
	  Особый интерес представляют макеты лабораторий ЭТИ, детально
	  воспроизводящие их историческую обстановку, в том числе макет первой в
	  России учебно-научной телеграфной лаборатории и макет физической
	  лаборатории в новом здании ЭТИ.
	</span>
	<img src="/static/image-190.png" />
	<span>
	  В музее собрана коллекция первых учебников по электрическим измерениям,
	  созданных преподавателями института.
	  <br>
	  Экспозиция рассказывает о роли А.С. Попова в становлении радиотехнического
	  образования в России. Здесь представлена картина О. Котик, изображающая
	  доклад Попова о беспроволочной телеграфии в ЭТИ в 1897 году.
	  <br>
	  Стенды музея демонстрируют этапы развития отечественной научно-инженерной
	  школы радиотехники ЭТИ-ЛЭТИ-СПбГЭТУ, основанной профессором И.Г.
	  Фрейманом. В экспозиции можно увидеть его фундаментальный труд &quot;Курс
	  радиотехники&quot; (1928), который опередил многие зарубежные издания.
	  <br>
	  Электротехнический институт был пионером и в электрохимии. В музее
	  представлен макет электролизера и первые учебные пособия по этой
	  дисциплине.
	  <br>
	  Макет Волховской ГЭС, первой крупной гидроэлектростанции, построенной под
	  руководством профессора Г.О. Графтио, иллюстрирует развитие
	  энергетического направления в университете. Рядом расположен макет
	  лаборатории техники высоких напряжений (1929 г.), созданной профессором
	  А.А. Смуровым и бывшей в то время крупнейшей в Европе.
	  <br>
	  Фотографии и документы в витринах рассказывают об истории проектирования и
	  строительства первых теплоэлектростанций под руководством профессора В.В.
	  Дмитриева и о создании первой в мире научной школы электропривода под
	  руководством профессора С.А. Ринкевича.
	  <br>
	  В 1931 году С.Я. Соколовым была организована первая в мире кафедра
	  электроакустики, положившая начало отечественной школе ультразвуковой
	  техники и дефектоскопии, получившей мировое признание. В музее представлен
	  один из первых образцов дефектоскопа (1932 г.).
	  <br>
	  На отдельном подиуме размещен индуктор, разработанный
	  членом-корреспондентом АН СССР В.П. Вологдиным, основоположником
	  промышленного использования техники высоких частот. Он основал школу
	  индукционной закалки металлов и организовал подготовку по высокочастотной
	  электротермии (1936 г.) и первую в мире кафедру высокочастотной техники
	  (1946 г.).
	  <br>
	  В годы блокады в ЛЭТИ размещались подразделения политуправления
	  Краснознаменного Балтийского флота. В музее воссоздана мини-диорама
	  бункера командующего флотом адмирала В.Ф. Трибуца.
	  <br>
	  В послевоенные годы ученые ЛЭТИ участвовали в разработке систем управления
	  и радиоэлектронных средств для ВМФ и ВВС. В экспозиции представлены макет
	  антенны с фазированной решеткой и макет пассивной радиостанции.
	  <br>
	  Университет внес свой вклад и в освоение космоса. На отдельном подиуме
	  можно увидеть микросхемы и блоки аппаратуры для спектрометрических систем
	  метеорологических спутников Земли &quot;Метеор&quot;.
	  <br>
	  Музейная коллекция постоянно пополняется новыми экспонатами и документами,
	  отражающими образовательную, научную, общественную и студенческую жизнь
	  СПбГЭТУ &quot;ЛЭТИ&quot;.
	</span>
      </div>
    </main>
    <footer>
      <div class="col1">
	<img src="/static/spbetu-logo-ru-svg2.svg" />
	<div class="underlogo">
	  <h3>Проект команды</h3>
	  <div>“Катюха” FanClub</div>
	  <br>
	  <h3>В составе:</h3>
	  <div>
	    Сомов Андрей, 4395 <br>
	    Власов Иван, 4372 <br>
	    Алтухов Дмитрий, 4395 <br>
	    Харчинский Савелий, 4734
	  </div>
	</div>
      </div>
      <div class="col2">
	<h3>Пользователям</h3>
	<div>
	  <div>Статьи</div>
	  <div>Таймлайн</div>
	  <div>Викторины и тесты</div>
	  <div>Авторам</div>
	</div>
      </div>
      <div class="col3">
	<a href="https://t.me/etustory"><img src="/static/frame-40.svg" /></a>
	<div class="underlogo">
	  <div>Поддержать проект</div>
	  <div>Обратная связь</div>
	</div>
      </div>
    </footer>
  </body>
</html>
