<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <header>
      <div class="header-top">
	<img src="/static/spbetu-logo-ru-svg1.svg" onclick="openPage('/home')"/>
	<div class="title">139 Лет первого электротехнического на одной платформе</div>
      </div>
      <div class="header-bottom">
	<div onclick="openPage('/articles')">Статьи</div>
	<div>Таймлайн</div>
	<div onclick="openPage('/authors')">Авторам</div>
	<div>Жизнь музея</div>
	<div onclick="openPage('/quiz')">Тесты и викторины</div>
	<script>
		function openPage(page) {
  			window.location.href=page
		}
	</script>
      </div>
    </header>
    <main>
      <div id="article-header" class="splash article-splash">
	<style>
	  #article-header-text {
	      font-size: 96px;
	      @media (max-width: 850px) {
		  font-size: 48px;
	      }
	  }
	</style>
	<span id="article-header-text" class="splash-content">А.С. Попов - <br>отец российской радиотехники</span>
	<img id="article-header-bg" class="bg" src="/static/image-170.png" />
      </div>
      <div id="article-content">
	<h2> Александр Степанович Попов:</h2>
	<span>
	  Александр Степанович Попов (1859-1906) – выдающийся русский физик и
	  электротехник, чье имя неразрывно связано с изобретением радио. Будучи
	  профессором физики и первым выборным директором Электротехнического
	  института (ЭТИ), ныне СПбГЭТУ &quot;ЛЭТИ&quot;, Попов внес неоценимый
	  вклад в развитие науки и техники.
	</span>
	<h2>Первые шаги радиотехники</h2>
	<span>
	  Именно демонстрация Поповым системы радиосвязи послужила толчком для
	  развития радиотехники как науки и практической области. В первое
	  десятилетие, с 1896 по 1906 год, радиотехника в России развивалась под
	  его непосредственным руководством и при активном участии.
	  Преподаватель физики, математики и электротехники в Морском ведомстве,
	  Попов стал ученым с мировым именем благодаря своему изобретению. С
	  1899 года французская фирма Дюкрете начала серийный выпуск
	  радиоаппаратуры по системе Попова для российского и французского
	  флотов. В 1900 году Попов активно участвовал в создании Кронштадтской
	  радиомастерской, положившей начало отечественной радиопромышленности.
	  Позже, с 1904 года, он сотрудничал с компаниями &quot;Сименс и
	  Гальске&quot; и &quot;Telefunken&quot;, которые признали важность его
	  идей и организовали производство &quot;беспроволочной телеграфии по
	  системе профессора Попова&quot;. Радиотехника, зародившись в конце XIX
	  века, прошла огромный путь от первых систем беспроводной связи до
	  современных космических радиосистем.
	</span>
	<h2>Ранние годы и становление ученого</h2>
	<span>
	  Александр Степанович Попов родился в 1859 году на Урале, в семье
	  священника. С детства проявлял интерес к технике, посещал рудники и
	  мастерские, мастерил механизмы. Получил образование в духовных
	  училищах и Пермской духовной семинарии, где получил не только знания,
	  но и высокие моральные принципы. В 1877 году поступил на
	  физико-математический факультет Петербургского университета, где
	  учился у выдающихся ученых, включая П.Л. Чебышева, Д.И. Менделеева и
	  Ф.Ф. Петрушевского. Работа на электротехнической выставке в 1880 году
	  дала ему практический опыт и знакомство с ведущими электротехниками
	  того времени.
	</span>
	<h2>Грозоотметчик и признание изобретения</h2>
	<span>
	  Попов также заметил, что его приемник чувствителен к атмосферным
	  разрядам, и разработал грозоотметчик – прибор для регистрации
	  электромагнитных колебаний естественного происхождения. Таким образом,
	  он практически одновременно реализовал два типа радиосвязи: между
	  людьми и от природы к человеку. В 1896 году Попов представил полное
	  описание своей системы радиосвязи. В том же году сообщения об опытах
	  итальянца Маркони по беспроводной телеграфии привлекли внимание
	  мировой общественности. Попов продолжал совершенствовать свою
	  аппаратуру и в 1897 году продемонстрировал систему радиосвязи на
	  различных аудиториях.
	</span>
	<h2>Сотрудничество и признание приоритета</h2>
	<span>
	  Попов начал сотрудничество с французским инженером Дюкрете, который на
	  основе его работ создал первую во Франции аппаратуру для беспроводной
	  телеграфии. В 1899 году Попов посетил фирму Дюкрете, и вскоре Морское
	  ведомство России заказало 50 корабельных радиостанций. В этом же году
	  Попов, исследуя работу аппаратуры, обнаружил &quot;детекторный
	  эффект&quot; когерера и разработал усовершенствованный телефонный
	  приемник, что значительно увеличило дальность связи. Он получил
	  патенты на свое изобретение в России и за рубежом. В 1900 году
	  радиосвязь, созданная Поповым, была успешно использована для спасения
	  рыбаков, унесенных на льдине в Финском заливе, что стало первым
	  практическим применением радио в спасательной операции.
	</span>
	<h2>Последние годы и наследие</h2>
	<span>
	  В 1901 году Попов стал профессором Электротехнического института, где
	  организовал лабораторию и разработал учебные курсы. Он продолжал
	  научные исследования в различных областях, включая рентгеновские лучи
	  и радиотелефонию. В 1905 году Попов был избран директором ЭТИ.
	  Александр Степанович Попов скоропостижно скончался в 1906 году,
	  оставив огромное научное наследие. Его имя навсегда связано с
	  изобретением радио и развитием радиотехники. Память о нем увековечена
	  в многочисленных памятниках, музеях и названиях научных учреждений.
	  Его вклад в науку и технику признан во всем мире, а его предвидения о
	  значении телекоммуникаций в XXI веке полностью оправдались. Имя А.С.
	  Попова навсегда останется в истории как имя выдающегося русского
	  ученого и изобретателя.
	</span>
	<img src="/static/image-130.png" />
	<p>схема работы радиоприемника Попова</p>
	<h2>Историческое заседание и рождение радио</h2>
	<span>
	  7 мая 1895 года стало поворотным моментом. На заседании Русского
	  физико-химического общества Попов представил доклад об отношении
	  металлических порошков к электрическим колебаниям. Главное – он
	  продемонстрировал работоспособную систему беспроводной передачи
	  сигналов, используя аппаратуру, созданную им совместно с ассистентом
	  П.Н. Рыбкиным. Этот день, 7 мая, впоследствии был объявлен Днем радио
	  в СССР (с 1945 года), подчеркивая значимость этого события для страны.
	</span>
	<img src="/static/image-120.png" />
      </div>
    </main>
    <footer>
      <div class="col1">
	<img src="/static/spbetu-logo-ru-svg2.svg" />
	<div class="underlogo">
	  <h3>Проект команды</h3>
	  <div>“Катюха” FanClub</div>
	  <br>
	  <h3>В составе:</h3>
	  <div>
	    Сомов Андрей, 4395 <br>
	    Власов Иван, 4372 <br>
	    Алтухов Дмитрий, 4395 <br>
	    Харчинский Савелий, 4734
	  </div>
	</div>
      </div>
      <div class="col2">
	<h3>Пользователям</h3>
	<div>
	  <div>Статьи</div>
	  <div>Таймлайн</div>
	  <div>Викторины и тесты</div>
	  <div>Авторам</div>
	</div>
      </div>
      <div class="col3">
	<a href="https://t.me/etustory"><img src="/static/frame-40.svg" /></a>
	<div class="underlogo">
	  <div>Поддержать проект</div>
	  <div>Обратная связь</div>
	</div>
      </div>
    </footer>
  </body>
</html>
