<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <header>
      <div class="header-top">
	<img src="/static/spbetu-logo-ru-svg1.svg" onclick="openPage('/home')"/>
	<div class="title">139 Лет первого электротехнического на одной платформе</div>
      </div>
      <div class="header-bottom">
	<div onclick="openPage('/articles')">Статьи</div>
	<div>Таймлайн</div>
	<div onclick="openPage('/authors')">Авторам</div>
	<div>Жизнь музея</div>
	<div onclick="openPage('/quiz')">Тесты и викторины</div>
	<script>
		function openPage(page) {
  			window.location.href=page
		}
	</script>
      </div>
    </header>
    <main>
      <div id="article-header" class="splash article-splash">
	<style>
	  #article-header-text {
	      font-size: 96px;
	      font-style: italic;
	      text-transform: uppercase;
	      @media (max-width: 850px) {
		  font-size: 48px;
	      }
	  }
	</style>
	<span id="article-header-text" class="splash-content">ЛЭТИ в годы Великой отечественной войны</span>
	<img id="article-header-bg" class="bg" src="/static/image-61.png" />
      </div>
      <div id="article-content">
	<h2>&quot;ЛЭТИ&quot; в годы Великой Отечественной войны: Фронт и тыл едины</h2>
	<span>
	  Великая Отечественная война затронула каждого члена коллектива
	  &quot;ЛЭТИ&quot;. В первые месяцы войны девять из десяти
	  студентов-комсомольцев ушли на фронт. Несмотря на тяжелейшие условия,
	  институт продолжал работу, студенты посещали лекции. Однако ряды
	  студентов редели. Дипломное проектирование временно отменили, но
	  экзамены продолжались по расписанию. Успешно сдавшие экзамены
	  направлялись в распоряжение райкома комсомола или военкомата, девушки
	  уходили в госпитали и на заводы.
	  <br>
	  С приближением линии фронта к Ленинграду, 8 сентября началась блокада.
	  Студенток направляли на курсы радистов-операторов, которые
	  впоследствии воевали в партизанских отрядах.
	  <br>
	  В помещениях первого корпуса &quot;ЛЭТИ&quot;, профессор Г.А.
	  Кьяндский организовал станцию радиоперехвата и обеспечил
	  круглосуточное дежурство на ней.
	  <br>
	  В опустевших корпусах института разместились моряки Краснознаменного
	  Балтийского флота, значительно укрепив здания на случай бомбежек. Во
	  дворе возводились укрепления из песка и бутовых плит, а в подвалах
	  возводились дополнительные кирпичные стены для размещения техники.
	  Подобные укрепления были оборудованы в здании бывшего храма
	  Преображения Господня, где располагалась лаборатория С.Я. Соколова.
	  Рядом был построен бункер для штаба ПВО ВМФ.
	  <br>
	  В декабре 1941 года в &quot;ЛЭТИ&quot; был открыт стационар, где в
	  небольшой аудитории были размещены койки для студентов, сотрудников и
	  преподавателей. Несмотря ни на что, 250 студентов продолжали посещать
	  лекции в блокадном городе. В феврале 1942 года &quot;ЛЭТИ&quot;
	  выпустил 30 инженеров-электриков, которые были сразу направлены на
	  предприятия города.
	  <br>
	  Преподаватели и выпускники участвовали в разработке и прокладке
	  кабелей связи и энергетических кабелей по дну Ладожского озера.
	</span>
	<h2>Вклад ученых &quot;ЛЭТИ&quot; в оборону страны</h2>
	<span>
	  В связи с блокадой, научные лаборатории, чьи разработки были важны для
	  обороноспособности страны, были эвакуированы.
	  Лаборатория профессора В.П. Вологдина, разработавшая технологию
	  поверхностной закалки брони танков &quot;КВ&quot; и &quot;ИС&quot;,
	  что позволило увеличить прочность брони в 1,5 раза по сравнению с
	  немецкими танками, была эвакуирована в Челябинск. Лаборатория
	  профессора С.Я. Соколова, разработавшая методы дефектоскопии для
	  контроля качества металлов, в частности, брони для танков и самолетов,
	  а также шарикоподшипников, была эвакуирована в Горький (Нижний
	  Новгород). Группа Н.П. Богородицкого, работавшая над новыми
	  изоляционными материалами, включая радиофарфор, продолжила работу в
	  Красноярске.
	  <br>
	  13 марта 1942 года &quot;ЛЭТИ&quot; был эвакуирован в Ташкент по
	  Ладожской ледовой дороге.
	</span>
	<h2>&quot;ЛЭТИ&quot; в блокадном Ленинграде</h2>
	<span>
	  Небольшая группа преподавателей и сотрудников осталась в Ленинграде,
	  чтобы сохранить уникальную лабораторию Смурова, библиотеку и другие
	  ценности.
	  <br>
	  В апреле 1942 года при &quot;ЛЭТИ&quot; было создано Бюро
	  научно-исследовательских работ Наркомата судостроительной
	  промышленности под руководством профессора С.А. Ринкевича, которое
	  выполняло срочные задания командующего Балтийским флотом по усилению
	  зенитной защиты кораблей, а также разрабатывало новые материалы и
	  приборы для предприятий и госпиталей блокадного города.
	</span>
	<img src="/static/image-200.png" />
	<p>Здание первого корпуса, 1941 год</p>
	<h2>&quot;ЛЭТИ&quot; в эвакуации</h2>
	<span>
	  В Ташкенте &quot;ЛЭТИ&quot; возобновил занятия 25 октября 1942 года на
	  базе Среднеазиатского индустриального института. Ученые
	  &quot;ЛЭТИ&quot; помогали развитию науки и образования в Средней Азии.
	  Студенты работали на строительстве местной гидростанции и Саларской
	  ГЭС. Работа комсомольской организации &quot;ЛЭТИ&quot; была отмечена
	  благодарностью ЦК ВКП(б) Узбекистана. В 1943 году в Ташкенте был
	  проведен выпуск специалистов, а в 1944 году - первая
	  научно-техническая конференция профессорско-преподавательского
	  состава.
	</span>
	<h2>Героизм на фронте</h2>
	<span>
	  Сотрудники и студенты &quot;ЛЭТИ&quot; проявили героизм в боях за
	  Родину. За участие в боях за Невский пятачок были награждены М.
	  Курлин, А. Соскин, А. Щамов. Студент В. Богданов был награжден орденом
	  Ленина за разведывательную деятельность. Ст. политрук С. Тюшкевич
	  участвовал в боях за Тихвин, освобождение которого сорвало план
	  гитлеровцев по созданию второго кольца блокады Ленинграда. А.
	  Островский (посмертно) был награжден орденом Красного Знамени за
	  оборону Севастополя. Выпускница &quot;ЛЭТИ&quot; Сильвия Воскова
	  погибла при выполнении боевого задания в тылу врага. Студент В.
	  Тарасевич был военным корреспондентом на передовой. В прорыве блокады
	  Ленинграда участвовали А. Соскин, В. Марков, Ю. Мерзлютин, Л.
	  Шениберов, П. Титов, С. Тюшкевич, П. Матханов и многие другие. За
	  мужество и героизм при форсировании реки Одер В.А. Петрову было
	  присвоено звание Героя Советского Союза. После возвращения из
	  эвакуации в 1945 году коллектив &quot;ЛЭТИ&quot; приступил к
	  восстановлению учебного процесса.
	</span>
	<h2>Память о войне</h2>
	<span>
	  Память о войне бережно хранится в Музее истории университета, где
	  собраны фотографии и документы тех лет. Сотрудники музея подготовили
	  &quot;Книгу памяти&quot;, посвященную выпускникам и преподавателям
	  &quot;ЛЭТИ&quot; – участникам Великой Отечественной войны, в которую
	  вошло более 1050 биографий. В 1987 году возле административно-учебного
	  корпуса был установлен памятник ЛЭТИйцам, погибшим в боях за Родину.
	</span>
	<img src="/static/image-210.png" />
	<p> Памятник погибшим в боях за Ленинград студентам и сотрудникам ЛЭТИ (скульптор А.Г. Дёма, архитектор В.А. Гребеньков).</p>
      </div>
    </main>
    <footer>
      <div class="col1">
	<img src="/static/spbetu-logo-ru-svg2.svg" />
	<div class="underlogo">
	  <h3>Проект команды</h3>
	  <div>“Катюха” FanClub</div>
	  <br>
	  <h3>В составе:</h3>
	  <div>
	    Сомов Андрей, 4395 <br>
	    Власов Иван, 4372 <br>
	    Алтухов Дмитрий, 4395 <br>
	    Харчинский Савелий, 4734
	  </div>
	</div>
      </div>
      <div class="col2">
	<h3>Пользователям</h3>
	<div>
	  <div>Статьи</div>
	  <div>Таймлайн</div>
	  <div>Викторины и тесты</div>
	  <div>Авторам</div>
	</div>
      </div>
      <div class="col3">
	<a href="https://t.me/etustory"><img src="/static/frame-40.svg" /></a>
	<div class="underlogo">
	  <div>Поддержать проект</div>
	  <div>Обратная связь</div>
	</div>
      </div>
    </footer>
  </body>
</html>
